In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = DataFrame(np.random.randn(25).reshape(5, 5))

In [6]:
df

          0         1         2         3         4
0 -0.179807 -0.985673 -0.396145  0.331505  0.203006
1 -1.206945  1.876214  0.571089 -0.876941  0.652712
2  0.679187 -0.448856  0.997168  0.628437 -0.871653
3  1.433266 -0.853461  0.136924 -0.361149  0.117744
4 -0.824503  0.716870  0.808790  0.608333  0.109799

In [7]:
del df[4]

In [8]:
df

          0         1         2         3
0 -0.179807 -0.985673 -0.396145  0.331505
1 -1.206945  1.876214  0.571089 -0.876941
2  0.679187 -0.448856  0.997168  0.628437
3  1.433266 -0.853461  0.136924 -0.361149
4 -0.824503  0.716870  0.808790  0.608333